.local/share/*
!.local/share/fonts/*
!.local/share/applications/*
.local/state/*
**/.git/
scripts/.local/bin/*

hyprland/.config/dconf/*
hyprland/.config/QtProject.conf
hyprland/.config/qt6ct/*
hyprland/.config/pulse/*
hyprland/.config/xfce4/*
hyprland/.config/xsettingsd/*
hyprland/.config/BraveSoftware/*
hyprland/.config/libreoffice/*
hyprland/.config/chromium/*
hyprland/.config/Bitwarden/*
hyprland/.config/net.imput.helium/*
hyprland/.config/go/*
hyprland/.config/Thunar/*
hyprland/.config/nwg-look/*
hyprland/.config/gtk-3.0/*
hyprland/.config/gtk-4.0/*
