:root {
--color00: #000000;
--color01: #000000;
--color02: #000000;
--color03: #;
--color04: #;
--color05: #EFEFEF;
--color06: #;
--color07: #;
--color08: #;
--color09: #;
--color0A: #;
--color0B: #;
--color0C: #;
--color0D: #;
--color0E: #;
--color0F: #;
}
